.navbar-container {
  display: flex;
  background-color: linear-gradient(
    267deg,
    rgb(121, 52, 247),
    rgb(117, 91, 249) 50%,
    rgb(114, 130, 251)
  );
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
  align-content: center;
  min-height: 80px;
}

.nav-area {
  display: flex;
}

.nav-links {
  margin: 10px;
}
.navbar-button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  margin: 2px;
}

.logo-area {
  align-self: flex-start;
}

.logo-area h1 {
  margin: 5px;
  color: white;
}

.logo-area a {
  text-decoration: none;
}
