.navbar-container {
  display: flex;
  background-color: lightcoral;
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
  align-content: center;
  /* width: 100%; */
}

.nav-area {
  display: flex;
}

.nav-links {
  margin: 10px;
}
/* .navbar-button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  margin: 2px;
} */

.logo-area {
  align-self: center;
}

.logo-area h1 {
  margin: 0px;
  color: white;
}

.logo-area a {
  text-decoration: none;
}
