.events-list {
  display: flex;
  flex-wrap: wrap;
  /* position: absolute; */
  padding: 10px;
  /* align-items: center; */
  justify-content: center;
  justify-content: flex-start;
  /* margin-left: 50px; */
}

.fields {
  max-width: 300px;
  min-height: 225px;
  font-size: 12px;
}
