.detail-component {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

.event-listing {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.title-detail {
  margin: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.map-card {
  max-width: 500px;
  align-self: center;
}
.date-time,
.age-price,
.price {
  display: flex;
}

.map-cadre {
  box-shadow: 8px 8px 6px #888888;
}

.cadre {
  box-shadow: 8px 8px 6px #888888;
}
