/* .single-event {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: all 500ms;
}

.single-event:hover {
  filter: brightness(85%);
} */
.single-event {
  display: flex;
  min-width: 250px;
}
